<mat-toolbar class="toolbar">
  <button class="toolbar_icon-button" mat-icon-button>
   <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbar_logo-title-group" fxLayout fxLayoutAlign="center center">
    <a routerLink="/" fxLayout>
      <mat-icon>shopping_cart</mat-icon>
    </a>
    <a class="toolbar_title" routerLink="/">Online Shop</a>
  </div>
  <div fxFlex></div>
  <button mat-icon-button class="toolbar_icon-button toolbar_shopping-card-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<!-- <router-outlet></router-outlet> -->
