@import '../styles/theme';

:host {
	display: block;
	height: 100%;
}

mat-sidenav-container {
	height: 100%;
}

.toolbar {
	background-color: mat-color($app-background, card);
	position: relative;
}

.toolbar__logo-title-group {
	position: absolute;
	right: 50%;
	left: 50%;

	a {
		text-decoration: none;
	}
}

.toolbar__logo {
	transform: scale(1.5);
	color: black;
	margin-right: 16px;
}

.toolbar__title {
	color: mat-color($app-foreground, text);
	font-family: 30px 'Titillium Web', sans-serif;
	font-weight: 600;
	text-decoration: none;
}

.toolbar__icon-button {
	color: mat-color($app-foreground, icon);
}

.toolbar__shopping-cart-button {
	margin-right: 8px;
}
